.orange_highlight {
    color: orange;
}
body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

p {
    color: dimgray;
}

.box_width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

section img {
    width: 80%;
}

section {
    height: 500px;
    padding-bottom: 250px;
    /* padding-top: 30px; */
}

.top_banner {
    background-image: url("/img/top-banner.png");
    background-repeat: no-repeat;
}

.button {
    background-image: linear-gradient(to right, lightsalmon, tomato);
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.career_area {
    background-image: url(/img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.apply_shadow {
    box-shadow: 10px 10px 20px grey;
    height: 80%;
    background-color: white;
}

#writer_box {
    border-left: 7px solid hotpink;
    border-image: linear-gradient(180deg, lightsalmon, tomato);
    border-image-slice: 1;
}

#director_box {
    border-left: 7px solid blue;
    border-image: linear-gradient(180deg, blue, cyan);
    border-image-slice: 1;
}

.works {
    background-image: url(/img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

footer {
    text-align: center;
}


